<!DOCTYPE html>
<html lang="hu">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width = device-width, initial-scale=1">
    <title>Admin felület</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
</head>
<body>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.0/jquery.min.js"></script>
<script>
    $(document).ready(function() {
        $("#csaladtagbutton").click(function () {
            $("#egyenlegdiv").hide();
            $("#jogosultsagdiv").hide();
            $("#kiadasdiv").hide();
            $("#beveteldiv").hide();
            $("#csaladtagdiv").show();
        });
        $("#egyenlegbutton").click(function () {
            $("#csaladtagdiv").hide();
            $("#jogosultsagdiv").hide();
            $("#kiadasdiv").hide();
            $("#beveteldiv").hide();
            $("#egyenlegdiv").show();

        });
        $("#jogosultsagbutton").click(function () {
            $("#csaladtagdiv").hide();
            $("#egyenlegdiv").hide();
            $("#kiadasdiv").hide();
            $("#beveteldiv").hide();
            $("#jogosultsagdiv").show();

        });
        $("#kiadasbutton").click(function () {
            $("#csaladtagdiv").hide();
            $("#egyenlegdiv").hide();
            $("#jogosultsagdiv").hide();
            $("#beveteldiv").hide();
            $("#kiadasdiv").show();
        });
        $("#bevetelbutton").click(function () {
            $("#csaladtagdiv").hide();
            $("#egyenlegdiv").hide();
            $("#jogosultsagdiv").hide();
            $("#kiadasdiv").hide();
            $("#beveteldiv").show();
        });
    });
</script>

<div class="container">
    <div class="page-header">
        <h1 align="center">Profil</h1>
        <div class="dropdown">
            <input type="submit" class="btn btn-primary" value="Egyenleg" id="egyenlegbutton">
            <input type="submit" class="btn btn-primary" value="Családtag" id="csaladtagbutton">
            <input type="submit" class="btn btn-primary" value="Kiadás" id="kiadasbutton">
            <input type="submit" class="btn btn-primary" value="Bevétel" id="bevetelbutton">
            <input type="submit" class="btn btn-primary" value="Jogosultság" id="jogosultsagbutton">
            <input type="submit" class="btn btn-danger" value="Kilépés">
        </div>
    </div>
    <div class="egyenleg" id="egyenlegdiv" style="display:none">
        <label for="aktegyenleg">Aktuális egyenleg:</label>
        <input type="text" class="form-control" id="aktegyenleg">
    </div>
    <div class="csaladtag" id="csaladtagdiv" style="display:none">

                <div class="dropdown">
                    <input type="submit" class="btn btn-primary" value="Családtag hozzáadása" id="csaladtag_hozzaadasa">
                    <input type="submit" class="btn btn-primary" value="Család egyenleg" id="csalad_egyenleg">
                    <input type="submit" class="btn btn-primary" value="Családtag törlése" id="csaladtag_torlese">
                </div>

            <label for="csaladtag_status">Családtagok:</label>
            <select class="form-control" id="csaladtag_status">
            </select>

            <div class="form-group">
                <label for="kassza">Családi kassza:</label>
                <input type="text" class="form-control" id="kassza">
            </div>
    </div>
    <div class="jogosultsag" id="jogosultsagdiv" style="display: none">

        <label for="cstag_status">Családtag:</label>
        <select class="form-control" id="cstag_status">
        </select>
        <input type="checkbox" name="vehicle" value="BevetelKiadas" id="bevetelkiadas">Bevétel/Kiadás<br>
        <input type="checkbox" name="vehicle" value="CstagHozzaad" id="cstaghozzaad">Családtag hozzáadása/törlése<br>
        <input type="checkbox" name="vehicle" value="CsEgyenleg" id="csegyenleg">Családi egyenleg megtekintése<br>
        <div class="form-group" align="right">
            <input type="submit" class="btn btn-primary" value="Mentés" onclick="savejogosultsag()">
        </div>
    </div>
    <div class="kiadas" id="kiadasdiv" style="display: none">
        <label for="kiadas">Kiadás (Mire?):</label>
        <input type="text" class="form-control" id="kiadas">
        <label for="idopont">Időpont:</label>
        <input type="text" class="form-control" id="idopont">
        <div class="form-group" align="right">
            <input type="submit" class="btn btn-primary" value="Ok">
            <input type="reset" class="btn btn-danger" value="Mégse">
        </div>
    </div>
    <div class="bevetel" id="beveteldiv" style="display: none">
        <label for="kiadas">Bevétel (Miből?):</label>
        <input type="text" class="form-control" id="bevetel">
        <label for="idopont2">Időpont:</label>
        <input type="text" class="form-control" id="idopont2">
        <div class="form-group" align="right">
            <input type="submit" class="btn btn-primary" value="Ok" onclick="login()">
            <input type="reset" class="btn btn-danger" value="Mégse">
        </div>
    </div>
</div>


</div>
</body>
<script>
    function savejogosultsag() {
        var select = document.getElementById("cstag_status");
        var selected = select[select.selectedIndex].textContent;
        var x = document.getElementById("bevetelkiadas").checked ;
        var x2 = document.getElementById("cstaghozzaad").checked;
        var x3 = document.getElementById("csegyenleg").checked;

        /*console.log(selected);
        console.log(x);
        console.log(x2);
        console.log(x3);*/

        var line = "";
        if(x)
            line += document.getElementById("bevetelkiadas").value + ", ";
        if(x2)
            line += document.getElementById("cstaghozzaad").value + ", ";
        if(x3)
            line += document.getElementById("csegyenleg").value;

        var temp = {nev : selected, jogok : line};
        /*
        console.log(temp);
        var temp2 = JSON.stringify(temp);
        console.log(JSON.stringify(temp));
        console.log(JSON.parse(temp2));*/

        $.post('/profil/jogosultsag', temp, function (res) {
            alert(res);
        });


    }
    window.onload = function () {
        console.log("load!");
        $.post('/profil/getcsalad', '', function (res) {
            var select = document.getElementById("csaladtag_status");
            var i = 0;
            res.forEach(function (item) {
                select[i] = new Option(item.felhasznalonev, i);
                ++i;
            })
        });
        $.post('/profil/getcsalad', '', function (res) {
            var select = document.getElementById("cstag_status");
            var i = 0;
            res.forEach(function (item) {
                select[i] = new Option(item.felhasznalonev, i);
                ++i;
            })
        });
    }
</script>
</html>