{% extends 'master' %}

{% block content %}

  <div class="panel panel-primary">
    <div class="panel-heading">
      <h3 class="panel-title">Bevétel/Kiadás felvitel</h3>
    </div>
    <div class="panel-body">
      <form method="post">
        {{ csrfField }}
        <div class="form-group">
          <label class="control-label" for="mire">Mire</label>
          <input class="form-control" name="mire" id="mire" type="text" value="">
        </div>
        <div class="form-group">
          <label class="control-label" for="osszeg">Mennyit</label>
          <input class="form-control" name="osszeg" id="osszeg" type="text" value="">
        </div>
        <div class="form-group">
          <label class="control-label" for="idopont">Időpont (pl. 2011-01-11)</label>
          <input class="form-control" name="idopont" id="idopont" type="text" value="">
        </div>

        <div class="form-group">
          <button type="submit" name="bevetel" id="bevetel" class="btn btn-success">Bevétel</button>
          <button type="submit" name="kiadas" id="kiadas" class="btn btn-danger">Kiadás</button>
        </div>
      </form>
    </div>
  </div>
  <div class="panel panel-info">
    <div class="panel-heading">
      <h3 class="panel-title">Egyenleg</h3>
    </div>
    <div class="panel-body">
      {% set egyenleg = 0 %}
      {% for koltseg in koltsegek %}
        {% set egyenleg = egyenleg + koltseg.osszeg %}
      {% endfor %}
      {{ egyenleg }}
    </div>
  </div>
  <table class="table table-striped table-hover ">
    <thead>
    <tr>
      <th>Mire</th>
      <th>Összeg</th>
      <th>Időpont</th>
      <th></th>
    </tr>
    </thead>
    <tbody>

    {% for koltseg in koltsegek %}
      {% if koltseg.osszeg < 0 %}
        <tr class="danger">
      {% else %}
        <tr class="success">
      {% endif %}
        <td>{{ koltseg.mire }}</td>
        <td>{{ koltseg.osszeg }}</td>
        <td>{{ koltseg.idopont }}</td>
        <td><a href="/egyenleg/{{ koltseg.id }}/delete" class="btn btn-default">Törlés</a></td>
      </tr>
    {% endfor %}
    </tbody>
  </table>
{% endblock %}
